:root {

    /* Font */
    --font-family: 'Roboto', sans-serif;

    --font-size: 1em;
    --font-size-xs: 0.813em;
    --font-size-h1: 3em;
    --font-size-h2: 2em;
    --font-size-h3: 1.313em;

    --font-weigth-normal: 400;
    --font-weigth-bold: 500;
    --line-height: 1.64;
    --line-height-base: 1;
    --letter-spacing: 0.1em;

    --color-black: #000000;
    --color-white: #ffffff;
    --color-main: #727272;

    /* BG Colors */
    --color-bg: #EEEFF1;
    --color-blue: #34547A;

    /* containers */
    --container-main: 69.375em;
    --container-small: 33.75em;

    --gap-xs: 0.625em;
    --gap-s: 1.25em;
    --gap-m: 2.188em;
    --gap-l: 2.5em;
    --gap-xl: 2.813em;
    --gap-hero: 3.75em;
}

html {
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weigth-normal);
    line-height: var(--line-height);
    color: var(--color-main);
}

/* Header */
.header {
    background-color: var(--color-bg);
    max-width: 100%;
    padding-top: 3.063em;
    padding-bottom: 8.813em;
}

.container {
    width: min(100% - var(--gap-l), var(--container-main));
    margin-inline: auto;
}

/* Navigation */
.nav__list {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    gap: var(--gap-m);
    padding: 0;
    flex-wrap: wrap;

}

.nav__link {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-black);
    letter-spacing: var(--letter-spacing);
    padding: 0.5em 0.5em 0.5em 0;
    display: block;
}

.nav__link:active {
    color: var(--color-blue);
}

/* Hero */
.hero {
    max-width: var(--container-small);
    margin-top: 6.5em;
    display: flex;
    flex-direction: column;
    gap: var(--gap-hero);
    align-items: flex-start;

}

.hero__title {
    font-size: var(--font-size-h1);
    font-weight: var(--font-weigth-bold);
    color: var(--color-black);
    margin: 0;
    line-height: var(--line-height-base);
}

.hero__description {
    margin: 0;
}

.hero__link-button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 14.063em;
    min-height: 4.063em;
    background-color: var(--color-blue);
    color: var(--color-white);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing);
}

/* About */
.about {
    margin-top: 7em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__content {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xl);
    align-items: center;
    padding: 0;
    max-width: var(--container-small);
}

.about__content-title {
    color: var(--color-black);
    line-height: var(--line-height-base);
    font-size: var(--font-size-h2);
    font-weight: var(--font-weigth-bold);
    margin: 0;
}

.about__content-description {
    margin: 0;
    text-align: center;

}

/* projects cards */
.wrapper {
    width: 100%;
    background-color: var(--color-blue);
    margin-top: 5.813em;
}

.card__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-xl);
    justify-content: space-between;
    padding: 6.25em 0;
}

.card {
    display: flex;
    flex-direction: row;
    gap: var(--gap-s);
    color: var(--color-white);
}

.card__img {
    width: 3.125em;
    height: 3.125em;
}

.card__title {
    font-size: var(--font-size-h3);
    font-weight: var(--font-weigth-bold);
    margin: 0;
    line-height: var(--line-height-base);

}

.card__info {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xs);
    align-items: flex-start;
    justify-content: flex-end;
}

.card__description {
    margin: 0;
    line-height: var(--line-height-base);
}


/* Process */
.process {
    background-color: var(--color-bg);
    padding-top: 6.25em;
    padding-bottom: 5.625em;
}

.process__content {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xl);
    align-items: center;
    padding: 0;
    max-width: var(--container-small);
}

.process__title {
    color: var(--color-black);
    line-height: var(--line-height-base);
    font-size: var(--font-size-h2);
    font-weight: var(--font-weigth-bold);
    margin: 0;
}

.process__description {
    margin: 0;
    text-align: center;
}

.process__media iframe {
    width: 100%;
    max-width: var(--container-main);
    aspect-ratio: 16 / 9;
    margin-top: 3.563em;
    border: none;
}

/* Footer */
.footer {
    background-color: var(--color-blue);
    color: var(--color-white);
    width: 100%;
    padding: 3.125em 0;
}

.footer__wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xs);
    align-items: flex-start;
}

.footer__title {
    font-size: var(--font-size-h3);
    font-weight: var(--font-weigth-bold);
    margin: 0;
    line-height: var(--line-height-base);
}

.footer__copy {
    font-size: var(--font-size-xs);
    margin: 0;
}

/* Media Queries */

@media (max-width: 1030px) {
    html {
        font-size: 90%;
    }

    .card__wrapper {
        justify-content: center;
    }

    .header {
        padding-top: 1.25em;
        padding-bottom: 3.75em;
    }

    .hero {
        margin-top: 3.75em;
        gap: calc(var(--gap-hero) - 20%);
    }

    .about {
        margin-top: 4.375em;
    }

    .about__content {
        gap: var(--gap-l);
    }

    .wrapper {
        margin-top: 2.5em;
    }

    .card__wrapper {
        padding: 3.125em 0;
    }

    .process {
        padding-top: 3.125em;
        padding-bottom: 3.75em;
    }

    .process__content {
        gap: var(--gap-l);
    }

    .footer {
        padding: 1.875em 0;
    }
}


@media (max-width: 804px) {
    html {
        font-size: 85%;
    }

    .header {
        padding-top: 1.25em;
        padding-bottom: 3.125em;
    }

    .hero {
        margin-top: 2.5em;
        gap: var(--gap-l);
    }

    .hero__link-button {
        min-width: 90%;
        min-height: 90%;
    }

    .about {
        margin-top: 3.5em;
    }

    .about__content {
        gap: var(--gap-s);
    }

    .wrapper {
        margin-top: 2.5em;
    }

    .card__wrapper {
        padding: 3.125em 0;
    }

    .process {
        padding-top: 3.125em;
        padding-bottom: 3.125em;
    }

    .process__content {
        gap: var(--gap-s);
    }

    .footer {
        padding: 1.875em 0;
        font-size: 70%;
    }
}

@media (max-width: 576px) {
    html {
        font-size: 73%;
    }

    .header {
        padding-top: 1.25em;
        padding-bottom: 2.5em;
    }

    .hero {
        margin-top: 2.5em;
        gap: var(--gap-s);
    }

    .about {
        margin-top: 3.125em;
    }

    .about__content {
        gap: var(--gap-xs);
    }

    .wrapper {
        margin-top: 2.5em;
    }

    .card__wrapper {
        padding: 2.5em 0;
    }

    .process {
        padding-top: 2.5em;
        padding-bottom: 2.5em;
    }

    .process__media iframe {
        margin-top: 2em;
    }

    .nav__list {
        gap: var(--gap-s);
    }

    .nav__link {
        padding: 0;
    }
}

@media (max-width: 375px) {
    html {
        font-size: 65%;
    }

    .card__wrapper {
        gap: var(--gap-m);
        padding: 2em 0;
    }

    .about {
        margin-top: 1.5em;
    }

    .process {
        padding-top: 1.5em;
        padding-bottom: 2em;
    }

    .footer__wrapper {
        font-size: 80%;
        padding: 1em 0;
        gap: 0.5em;
    }

    .footer {
        padding: 0.5em 0;
    }
}